################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OldPhoneControlChallenge/.vs/OldPhoneControlChallenge/copilot-chat/62b399a0/sessions
/.vs
/OldPhoneControlChallenge/.vs/OldPhoneControlChallenge
/OldPhoneControlChallenge/OldPhoneControlChallenge/bin/Debug/net8.0
/OldPhoneControlChallenge/OldPhoneControlChallenge/obj/Release/net8.0
/OldPhoneControlChallenge/OldPhoneControlChallenge/obj/Debug/net8.0
/OldPhoneControlChallenge/OldPhoneControlChallenge/obj
/OldPhoneControlChallenge/OldPhoneControlChallengeUnitTest/bin
/OldPhoneControlChallenge/OldPhoneControlChallengeUnitTest/obj
OldPhoneControlChallenge/.vs/ProjectEvaluation/oldphonecontrolchallenge.metadata.v9.bin
OldPhoneControlChallenge/.vs/ProjectEvaluation/oldphonecontrolchallenge.projects.v9.bin
OldPhoneControlChallenge/.vs/ProjectEvaluation/oldphonecontrolchallenge.strings.v9.bin
